#sign-in-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

#sign-in-container form {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    align-items: center;
    border-radius: 3rem;
    background-color: white;
    align-items: center;
    justify-content: center;
    width: 35%;
    min-height: 70%;
    border: 1px solid var(--text);
}

#sign-up-container form button {
    width: 40%;
    margin-top: 2rem;
}