#homepage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

#root {
  height: 100%;
  width: 100%;
}

#homepage #typewriter::before {
  content: 'Reduce';
  color: var(--accent);
  animation: typed 5s infinite alternate steps(1);
}

@keyframes typed {
  4% {
    content: "Reduce";
  }

  8% {
    content: "Reduc"
  }

  12% {
    content: "Redu"
  }

  16% {
    content: "Red"
  }

  20% {
    content: "Re"
  }

  24% {
    content: "Re"
  }

  28% {
    content: "Re"
  }

  32% {
    content: "Re";
  }

  36% {
    content: "Re";
  }

  40% {
    content: "Reu";
  }

  44% {
    content: "Reus";
  }

  48% {
    content: "Reuse";
  }

  52% {
    content: "Reus";
  }

  56% {
    content: "Reu";
  }

  60% {
    content: "Re";
  }

  64% {
    content: "Re";
  }

  68% {
    content: "Re";
  }

  72% {
    content: "Re";
  }

  76% {
    content: "Re";
  }

  80% {
    content: "Rec";
  }

  84% {
    content: "Recy";
  }

  88% {
    content: "Recyc";
  }

  92% {
    content: "Recycl";
  }

  96% {
    content: "Recycle";
  }
}

#homepage {
  display: flex;
  padding: 5% 10% 0 10%;
  gap: 6.5%;
  position: relative;
  height: 100vh;
  justify-content: center;
}

#homepage h1 {
  padding: 0;
  margin: 0;
}

#homepage-text {
  display: flex;
  flex-direction: column;
  gap: 2%;
  align-items: flex-start;
}

#why-tho {
  display: flex;
  flex-direction: column;
  padding: 5% 25%;
  align-items: center;
  gap: 3%;
}

#why-tho h2 {
  text-align: center;
  padding: 0 0 5% 0;
}

#mesh-gradient {
  position: absolute;
  z-index: -1;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  opacity: 0.3;
}

.final-cta {
  background-color: var(--accent);
  padding: 2rem 5rem;
  border-radius: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 0;
}

.final-cta button {
  background-color: var(--background);
  color: var(--text);
}

.final-cta button:hover {
  background-color: var(--background);
  color: var(--accent);
}

.hero-image {
  overflow: hidden;
  height: 70vh;
  width: 700px;
}