#root {
  height: 100%;
  width: 100%;
}

#homepage #typewriter::before {
  content: 'Reduce';
  color: var(--accent);
  animation: typed 5s infinite alternate steps(1);
}

@keyframes typed {
  4% {
    content: "Reduce";
  }

  8% {
    content: "Reduc"
  }

  12% {
    content: "Redu"
  }

  16% {
    content: "Red"
  }

  20% {
    content: "Re"
  }

  24% {
    content: "R"
  }

  28% {
    content: ""
  }

  32% {
    content: "R";
  }

  36% {
    content: "Re";
  }

  40% {
    content: "Reu";
  }

  44% {
    content: "Reus";
  }

  48% {
    content: "Reuse";
  }

  52% {
    content: "Reus";
  }

  56% {
    content: "Reu";
  }

  60% {
    content: "Re";
  }

  64% {
    content: "R";
  }

  68% {
    content: "";
  }

  72% {
    content: "R";
  }

  76% {
    content: "Re";
  }

  80% {
    content: "Rec";
  }

  84% {
    content: "Recy";
  }

  88% {
    content: "Recyc";
  }

  92% {
    content: "Recycl";
  }

  96% {
    content: "Recycle";
  }
}

#homepage {
  display: flex;
  padding: 10%;
  gap: 6.5%;
}

#homepage h1 {
  padding: 0;
  margin: 0;
}

#homepage-text {
  display: flex;
  flex-direction: column;
  gap: 2%;
  align-items: flex-start;
}